.main-holder {
  width: 100vw;
  height: calc(100vh - 4rem);
  background-color: #0A142F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.overcome-text {
  font-size: 2.188rem;
  color: white;
  text-align: center;
}

.buy-recieve-button {
  padding-top: 2.5rem;
  align-items: center;
  flex-direction: row;
}

.recieve-btn {
  width: 11.063rem;
  height: 3rem;
  background-color: unset;
  color: white;
  border: 1px solid white;
  margin-right: 1.5rem;
  border-radius: 0.313rem;

}

.buy-btn {
  width: 11.063rem;
  height: 3rem;
  border-radius: 0.313rem;
}

.body-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 67.25rem;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

.headerOf-box {
  color: white;
  font-size: 0.938rem;
  font-weight: 700;
  font-family: serif;
  margin-bottom: 0.5rem;
}

.body-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  height: 13.125rem;
}

#link {
  text-decoration: none;
  color: gray;
}

hr {
  width: 85vw;
}

.footer-section {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 67.25rem;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-family: 'Dancing Script', cursive;

}

.copy-right {
  color: white;
}

.socialMedia-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 9.063rem;

}
