<div class="main-holder">
  <div class="text">
    <div class="header-description">
      Revolutionary <br />
      Transportation at your fingertips
    </div>
    <div class="body-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
      Etiam phasellus tellus adipiscing lectus di gnissim <br />
      faucibus at
    </div>
    <div class="button-section">
      <button class="btn1">Learn More</button>
      <button class="btn2">Order Now</button>
    </div>
    <div class="app-download">
      Download our app now and enjoy our <br />
      Amazing sign up bonuses
    </div>
    <div class="app-download2">
      <button class="btn3">Git On <br />Google Play</button>
      <button class="btn4">Download on the <br />App Stopr</button>
    </div>
  </div>
  <div class="car-image"></div>
</div>
