.bg {
  background-image: url(../../assets/images/pexels-andre-furtado-370717.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
