<div class="container-fluid">
  <div *ngIf="isLoading" class="main-holder">
    <div style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>

  <div class="login-page">
    <div class="form">
      <form
        class="login-form"
        #authForm="ngForm"
        (ngSubmit)="onSubmit(authForm)"
        *ngIf="!isLoading"
      >
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          placeholder="name@example.com"
        />
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          placeholder="Password"
        />
        <button type="submit" class="btn btn-dark" [disabled]="!authForm.valid">
          {{ isLoginMode ? "Login" : "Sign Up" }}
        </button>
        <p class="message">
          {{ isLoginMode ? "Not registered?" : "" }}
          <a (click)="onSwitchMode()" type="button">{{
            isLoginMode ? "Sign UP Now" : "Switch to login"
          }}</a>
        </p>
      </form>
      <hr />
      <div class="social-line text-center">
        <span class="message">Or Login with</span>
        <a href="" class="btn btn-neutral btn-facebook btn-just-icon">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="" class="btn btn-neutral btn-google btn-just-icon">
          <i class="fa fa-google-plus"></i>
        </a>
        <a href="" class="btn btn-neutral btn-twitter btn-just-icon">
          <i class="fa fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</div>
