<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngFor="let item of cars">
        <div>
          <ul>
            <li>{{ item.id }}</li>
            <li>{{ item.carType }}</li>
            <li>{{ item.manufacturerName }}</li>
            <li>{{ item.milAge }}</li>
            <li>{{ item.price }}</li>
            <li>{{ item.year }}</li>
            <li>{{ item.carImage }}</li>
            <img
              [src]="item.carImage"
              class="img-responsive mx-auto d-block"
              width="100%"
              [alt]="item.carType"
            />
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
