<div class="row">
  <div class="card">
    <div>
      <ul *ngFor="let item of Cars; let i = index">
        <li>{{ item[i].details }}</li>
        <li>{{ item[i].carType }}</li>
        <li>{{ item[i].manufacturerName }}</li>
        <li>{{ item[i].milAge }}</li>
        <li>{{ item[i].price }}</li>
        <li>{{ item[i].year }}</li>
        <li>{{ item[i].carImage }}</li>
        <img
          [src]="item[i].carImage"
          class="img-responsive mx-auto d-block"
          width="100%"
          alt="..."
        />
      </ul>
    </div>
  </div>
</div>
