.main-holder {
  width: 100vw;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-holder {
  width: 70%;
  height: 60%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoAndText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 10rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.langAndSearchFab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 6.5rem;
}

.language {
  font-size: 1.5rem;
  font-weight: 700;
}

.car-price {
  margin-top: 2rem;
  height: calc(100vh - 28.37rem);
  width: calc(100% / 6);
  font-size: 1.5rem;
  font-weight: 700;
}

.car-image {
  height: calc(100vh - 28.37rem);
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.car-show-control {
  height: calc(100vh - 28.37rem);
  width: calc(100% / 6);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.numberOf-item {
  font-size: 1.5rem;
  font-weight: 700;
}

.endOfPage {
  height: calc(100vh - 54.938rem);
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: black;
}
